*{
    color:threeddarkshadow;
}
body{
    margin: 0;
    padding: 0;
    background-color:#808080;
}

/*div height=100%失效解决办法*/

html, body {
    height: 100%;
}

div{
    position:relative;
    float: left;
    margin-top: 0;

}

#div_container{
    background-color: honeydew;
    width:80%;
    height: 100%;
    border: 0px solid blue;
    margin-left: 10%;
    border-radius: 8px;
}

#div_fruit_list{
    width:100%;
    border:0px solid red;
}

#tbl_fruit{
    width: 60%;
    line-height: 28px;
    margin-top: 120px;
    margin-left: 20%;
    margin-bottom: 5%;
}

#tbl_fruit, #tbl_fruit tr, #tbl_fruit th, #tbl_fruit td{
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    font-weight: lighter;
}

.w20{
    width: 25%;
}

.delImg{
    width:24px;
    height:24px;
}

.btn{
    border: 1px solid lightgray;
    width:80px;
    height:24px;
}

#add_fruit_div{
    border:0px solid red;
    width:40%;
    margin-left:30%;
}
#add_fruit_tbl {
    margin-top:32px;
    width:80%;
    margin-left:10%;
    border-collapse: collapse;
}

#add_fruit_tbl , #add_fruit_tbl tr , #add_fruit_tbl td{
    border:1px solid lightgray;
    text-align:center;
    line-height:28px;

}
.w30{
    width: 40%;
}

.input{
    padding-left: 4px;
    border:1px solid lightgray;
    width:90%;
}
.center{
    text-align: center;
}
.f30{
    font-size: 30px;
}